
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CandidateLayout.cshtml";
}
<style>
    .abc{
        margin-bottom:5px;
    }
</style>    
<div class="outer-w3-agile col-xl mt-3 mr-xl-3">
    <h3 class="main-title-w3layouts mb-2 text-center">Guide</h3>
    <div id="content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
                <p class="abc">
                    Welcome to our online aptitude test. The aptitude test is divided three parts:
                </p>
                <ul>
                    <li>1. General Knowledge</li>
                    <li>2. Mathematics</li>
                    <li>3. Computer Technology</li>
                </ul>
                <p class="abc">The test is supposed to be conducted in the linear way, only one link will be active at a time.</p>
                <p class="abc">Candidate must complete the test in order from 1 to 2 to 3.</p>
                <p class="abc">Each part will contain 5 questions and you have 5 minutes to do per part.</p>
                <p class="abc">Candidate cannot move back on the previous once it is completed and submitted.</p>
                <p class="abc">After finish all 3 part, the result will be show.</p>
                <p class="abc">Good luck!</p>
                <br />
            </div>
            <div class="col-sm-2"></div>




        </div>
    </div>
</div>
