@model OnlineAptitudeTest.Models.Question
@{
    ViewBag.Title = "Create Question";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="outer-w3-agile col-xl mt-3 mr-xl-3">
    <h3 class="main-title-w3layouts mb-2 text-center">Create Question</h3>
    <div id="content">
        <div class="title-content">
            @if (TempData["QuestionID"] != null && (bool)TempData["QuestionID"])
            {
                <p style="color:lawngreen"><span class="timer success">@TempData["status"]</span></p>
            }
            else
            {
                <p style="color:lawngreen"> <span class="timer failed">@TempData["status"]</span></p>
            }
        </div>
        <div class="content">
            <div class="row">
                <div id="add_normal" class="col s12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table style="width:100%">
                            <tr>
                                <td style="width:12%">
                                    Question Type:
                                </td>
                                <td>
                                    <select name="unit" class="form-control" >
                                        <option value="1">General Knowledge</option>
                                        <option value="2">Mathematics</option>
                                        <option value="3">Computer Technology</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Question:
                                </td>
                                <td>
                                    <input type="text" name="content" class="materialize-textarea form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Answer A:
                                </td>
                                <td>
                                    <input type="text" name="answer_a" id="answer_a" class="materialize-textarea form-control" onchange="get_val(this.id)" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Answer B:
                                </td>
                                <td>
                                    <input type="text" name="answer_b" id="answer_b" class="materialize-textarea form-control" onchange="get_val(this.id)" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Answer C:
                                </td>
                                <td>
                                    <input type="text" name="answer_c" id="answer_c" class="materialize-textarea form-control" onchange="get_val(this.id)" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Answer D:
                                </td>
                                <td>
                                    <input type="text" name="answer_d" id="answer_d" class="materialize-textarea form-control" onchange="get_val(this.id)" required>
                            </tr>
                            <tr>
                                <td>
                                    Correct answer:
                                </td>
                                <td>
                                    <select name="correct_answer" class="form-control">
                                        <option value="" id="val_answer_a">A</option>
                                        <option value="" id="val_answer_b">B</option>
                                        <option value="" id="val_answer_c">C</option>
                                        <option value="" id="val_answer_d">D</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <button type="submit" class="btn btn-success" id="add-question" name="add-question">Add question</button>
                    }
                </div>

            </div>
        </div>

        <br />

        <a class="btn btn-warning" href="@Url.Action("Index")">Back To Dashboard</a>

        <script>
            $('.tabs').tabs();
            $('.modal').modal();
            $('select').select();
            function get_val(id) {
                var answer = $("#" + id).val();
                $("#val_" + id).val(answer);
            }
        </script>

    </div>
</div>
